table.jadwal {
	border-collapse: collapse;
}

tr.filters td.jadwal-filter,
#jadwal-grid .jadwal-cell {
	padding: 0px;
}

tr.filters td.jadwal-filter table {
	border-collapse: collapse;
	border: none;
}

tr.filters td.jadwal-filter table td {
	border: 0px 1px;
	min-width: 16px;
	text-align: center;
}

.grid-view.nowrap table.items td.jadwal-cell td {
	width: 16px;
}

