#upload-link h2,
#berita h2{
	font-size: 15px;
	margin-top: 25px;
}

#upload-link h3,
#berita h3{
	font-size: 12px;
	margin-top: 25px;
}

#upload-link ul,
#upload-link ol {
	display: block;
	padding-left: 20px;
}

#content > p {
    width: 100%;
}

ul {
	padding-left: 15px;
}

#general-info,
#berita,
#upload-link {
	width: 800px;
}

#upload-link {
	display: none;
}